<div class="card" ng-hide="edit" ng-click="edit=true">
    <h4>{{ card.title }}</h4>
    <span class="description">{{ card.description }}</span><br>
    Points: {{ card.story_points }}, Business value: {{ card.business_value }}
</div>

<div class="card" ng-show="edit"
     ng-model-options="modelOptions">
    <div class="flex">
        <label><strong>Title:&nbsp;</strong></label>
        <input  type="text"
                ng-model="card.title"
                ng-update="update()"/>
    </div>

    <textarea ng-model="card.description"
              ng-change="update()"
              placeholder="Enter description..."></textarea>
    Points: <input class="pointvalues" ng-model="card.story_points" ng-update="update()" type="number" min="0" step="1"/> BValue: <input class="pointvalues" ng-model="card.business_value" ng-update="update()" type="number" min="0" step="1"/><br>
    <button ng-click="edit=false">Close</button>
    <button ng-click="delete()">Delete Card</button>
</div>